
    {% extends 'base.html' %}

    {% block content %}

    <div class="col-md-6 offset-md-3">

        {% if user.is_authenticated %}

            <h1> Client List </h1> <br>
            <a href="{% url 'add_client'  %}" class="btn btn-primary">Add New</a>

        {% if clients %}

        {% for client in clients %} <br>

        <a href="{% url 'client' client.id %}">{{client.first_name}}</a>
        

        {% endfor %}

        {% endif %}

        {% else %}    

            <h1>Login Page</h1><br>

            <form method="post" action="">

                {% csrf_token %}

                
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>



            </form>
        
        {% endif %}

    </div>

    

    {% endblock %}
  